@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');


.font-merriweather {
    font-family: "Merriweather", serif;
}

li {
    display: flex;
    margin: auto;
};